<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ fontawesome_css() }}
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <title>FontAwesome Example</title>
  </head>
  <body>
    <h1>FontAwesome Example</h1>
    <p>This is an example of a <span class="fas fa-link"></span> link.</p>
    <p>Here are some more icons:
      <span class="fas fa-wrench"></span>
      <span class="fas fa-wifi"></span>
      <span class="fas fa-bug"></span>
    </p>
    {{ fontawesome_js() }}
  </body>
</html>
